@{
  Layout = "_Layout";
}

<h1>Vendors</h1>

<hr>

<p>Add a new vendor here:</p>

<form action="/vendors" method="post">
  <label for="name">Vendor name</label>
  <input id="name" name="name" type="text">
  <label for="vendorDescription">Description</label>
  <input id="vendorDescription" name="vendorDescription" type="text">
  <button type="submit">Add</button>
</form>

<hr>

<p><a href="/">Back home</a></p>
<p><a href="/vendors">Back to vendors</a></p>